@{
    ViewBag.Title = "About";
}
<br />
<h1 style="text-align:center"> Giới thiệu sơ lược về công ty Damifa</h1>
<br />
<div class="container-fluid" >
    <div class="row justify-content-center" style="border:double;border-color:royalblue">
        <div class=" col-md-6" >
            <br />
            <h3> Lịch sử hình thành và phát triển</h3>
            <br />
            <p> DAMIFA, với kinh nghiệm 23 năm trong lĩnh vực xử lý nước, đã thực hiện thành công hơn 100 dự án lớn, nhỏ tại Việt Nam. Là doanh nghiệp tư nhân đi đầu trong lĩnh vực cấp thoát nước và xử lý môi trường.</p>
            <p> Năm 1992 - DAMIFACo., Ltd Công ty Đại Minh - DAMIFA Co.,Ltd thành lập từ năm 1992. DAMIFA Co.,LTD - Công ty TNHH Xây Dựng và Xử Lý Môi Trường ĐẠI Minh được chính thức thành lập năm 1992, Giấy phép thành lập số 2084/GP-UB, cho đến nay đã hình một đội ngũ có kinh nghiệm trong hoạt động thiết kế và thi công các công trình thuộc lĩnh vực cấp thoát nước, xử lý môi trường.</p>
            <p> Năm 1995 - DAMIFA là hội viên chính thức của Hội Cấp Thoát Nước Việt Nam (VWSA).</p>
            <p> Năm 1996 - DAMIFA là thành viên trong Hội đồng quản trị của công ty liên doanh IDE-DAMIFA(IDE ASIE) chuyên ngành tư vấn, thiết kế, cấp thoát nước và bảo vệ môi trường.</p>
            <p> Năm 1996 - 2000 DAMIFA đã ký kết các hợp đồng đại lý, hợp tác kinh doanh và nhận được hỗ trợ về mặt kỹ thuật cũng như về thiết bị từ các công ty Salmson, Eversoft, Dosatron, IDE Ingénierie… của Pháp và Châu Au.</p>
            <p> Năm 2014 - DAMIFA được sát nhập vào công ty CP ICEI, và trở thành 1 thành viên của công ty ICEI.</p>
        </div>
        <div class=" col-md-6" style="margin:auto">
            <div class="carousel slide" data-ride="carousel" >                
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/Resources/Images/Hinhanh/1.jpg" alt="First slide">                     
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Resources/Images/Hinhanh/2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Resources/Images/Hinhanh/7.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <h1 style="text-align:center">Thư ngỏ</h1>
        <br />
        <div class="row justify-content-center">
            <div class="col-md-6" style="border:0; box-shadow: 0  1px 10px 1px rgba(0,0,0,0.5)">
                <h2>Lời chào của lãnh đạo</h2>
                <div>
                    <br />
                    <p>Kính gửi Qúi khách hàng,</p>
                    <p>Trước hết, công ty chúng tôi xin trân trọng cảm ơn sự ủng hộ của quí khách hàng trong suốt 23 năm qua.</p>
                    <p>Đến nay, công ty chúng tôi đã đạt được nhiều tiến bộ vượt bậc. Nhìn lại quãng đường đi qua, chúng tôi nhận ra rằng trong mọi thành công của công ty, đều có sự hợp tác của quí khách hàng. </p>
                    <p>Chúng ta có thể nhắc tên những bạn hàng đã cùng với chúng ta xây dựng nên thương hiệu: Công ty TNHH Xây Dựng và Xử Lý Môi Trường Đại Minh: BIG C Việt Nam, Bitexco, Cảng Container Hiệp Phước, Cảng VICT Tân Thuận, Công ty cấp thoát nước Lâm Đồng, Bệnh viện Hội an, Công ty CP Du Lịch Kỳ Vân và rất nhiều khách hàng thân thiết nữa.</p>
                    <p>Ngày nay, tiếp bước các bậc tiền bối, thế hệ mới của công ty chúng tôi vẫn tâm niệm một quan điểm: Chất lượng môi trường là tiên quyết.</p>
                    <p>Chúng tôi xin cam kết, nếu được quí khách hàng – dù mới hay cũ – tin tưởng giao nhiệm vụ, sẽ tận tâm hoàn thành các dự án được giao vì Môi trường, Chất lượng và Tiến độ với chi phí hợp lý.</p>
                    <br />
                    <p style="text-align:right">TM Ban TGĐ Công ty</p>
                    <br />
                    <p style="text-align:right">(Nguyễn Khải Minh)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />