@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <h1 style="text-align:center">Lĩnh vực đang hoạt động</h1>
    <div class="row justify-content-center">
        <div class="col-3">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc1.jpg" />
            <h6 class="Linhvuc">Hợp tác, hỗ trợ và nghiên cứu cùng với các công ty trong và ngoài nước trong lĩnh vực bảo vệ môi trường.</h6>
        </div>
        <div class="col-3">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc2.jpg" />
            <h6 class="Linhvuc">Thi công công trình</h6>
        </div>
        <div class="col-3">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc3.jpg" />
            <h6 class="Linhvuc">Xây dựng và lắp đặt các hệ thống xử lý nước.</h6>
        </div>
    </div>  
    </br>
    <div class="row justify-content-center">
        <div class="col-3">            
                <img class="Hinh" src="~/Resources/Images/Index/linhvuc4.jpg" />
                <h6 class="Linhvuc">Chuyển giao công nghệ chuyên ngành xử lý nước và môi trường.</h6>
        </div>
        <div class="col-3">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc5.jpg" />
            <h6 class="Linhvuc">Hoạch định và đánh giá các thiết bị xử lý môi trường.</h6>
        </div>
        <div class="col-3">
            <img class="Hinh" src="~/Resources/Images/Index/linhvuc6.jpg" />
            <h6 class="Linhvuc">Cung cấp bơm các loại và các thiết bị xử lý môi trường.</h6>
        </div>
    </div>
</div>
<div class="container-fluid">
    <h1 style="text-align:center">Đối tác chiến lược</h1>
    <div class="row justify-content-center">
        <div class="col-2">
            <div>
                <img class="Logo" src="~/Resources/Images/logo/dosatron-because-life-is-powered-by-water_0.jpg" />
            </div>
        </div>
        <div class="col-2">
            <div>
                <img class="Logo" src="~/Resources/Images/logo/eversoft.png" />
            </div>
        </div>
        <div class="col-2">
            <div>
                <img class="Logo" src="~/Resources/Images/logo/ide evironment.png" />
            </div>
        </div>
        <div class="col-2">
            <div>
                <img class="Logo" src="~/Resources/Images/logo/Logo-Salmson-Copie.jpg" />
            </div>
        </div>
    </div>
</div>
<script src="~/Resources/JS/Index/AddJS.js"></script>