
@{
    ViewBag.Title = "Xulynuoccap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Công nghệ áp dụng trong xử lý nước cấp</h1>
<h2 style="text-align:center">(Nước sinh hoạt, nước tinh khiết, nước kỹ nghệ)</h2>
<br />
<div class="container-fluid">
    <div class="row justify-content-center" style="color:white;background-color:royalblue">
        <div class=" col-md-6">
            <br />
            <h3 style="font-weight:bold">1/- Xử lý phèn - kiềm:</h3>
            <br />
            <ul>
                <li>Dàn phun sương - chu trình kín loại bơm áp lực với thiết bị hoà trộn khí nhập từ Pháp.</li>
                <li>Xử lý cưỡng bức dạng tháp oxy hoá với thiết kế gọn nhẹ, cơ cấu thiết kế tínhtoán theo hệ số hoà tan Oxygen trong nước và hàm lượng phèn khử.</li>
                <li>Xử lý phèn và lọc với chất xúc tác (KMnO4, NaCLO…) để đạt hiệu suất kinh tế cao, thiết kế hệ xử lý bằng nguyên lý lọc sâu và lọc nhanh với giá thể đặc biệt.</li>
                <li>Trong trường hợp có độ kiềm cao. Áp dụng triệt để phương pháp Decarbonatation với mục đích vừa xử lý độ cứng vừa xử lý sắt, tiết giảm thời gian xử lý cũng như diện tích, thể tích và thiết bị.</li>
                <li>Xử lý bằng phương pháp vi sinh, dùng cho các trạm xử lý qui mô lớn hoặc để cải tạo các vùng đất bị nhiễm phèn.</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class=" col-md-6">
            <br />
            <h3 style="font-weight:bold">2/- Nước bị nhiễm NH<sub>3</sub>,H<sub>2</sub>S... độ màu:</h3>
            <br />
            <ul>
                <li>Dùng phương pháp khử mùi bằng nguyên lý kéo khí ngược.</li>
                <li>Áp dụng các chất xúc tác oxy hóa mạnh.</li>
                <li>Dùng than hoạt tính.</li>
                <li>Dùng nguyên lý vật lý Ozon hoá.</li>
                <li>Xử lý bằng phương pháp vi sinh đối với các nhà máy nước có qui mô lớn.</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center" style="color:white;background-color:royalblue">
        <div class=" col-md-6">
            <br />
            <h3 style="font-weight:bold">3/- Xử lý độ cứng, độ kiềm sử dụng cho sinh hoạt và kỹ nghệ (nước lò hơi, nước làm lạnh và nước sản xuất).</h3>
            <br />
            <ul>
                <li>Phương pháp trao đổi ion với resin thích ứng (ví dụ: làm mềm nước có hàm lượng Mg, Ca cao và pH acid bằng resin DUOLITE C20).</li>
                <li>Áp dụng phương pháp decarbonation nếu nước có độ cứng tạm thời cao</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class=" col-md-6">
            <br />
            <h3 style="font-weight:bold">5/- Công nghệ sản xuất nước tinh khiết và vô trùng có công suất từ 5l/h - 1m<sub style="top: -.25em">3</sub>/h cho bệnh viện, khách sạn, nhà hàng</h3>
            <br />
            <ul>
                <li>Dùng phương pháp thẩm thấu ngược, phương pháp màng siêu lọc NaNo.</li>
                <li>Áp dụng hệ vi lọc có hệ số màng nhỏ.</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center" style="color:white;background-color:royalblue">
        <div class=" col-md-6">
            <br />
            <h3 style="font-weight:bold">6/- Xử lý nước hồ bơi:</h3>
            <br />
            <ul>
                <li>Dùng phương pháp thẩm thấu ngược, phương pháp màng siêu lọc NaNo.</li>
                <li>Áp dụng hệ vi lọc có hệ số màng nhỏ.</li>
            </ul>
        </div>
    </div>
</div>

