
@{
    ViewBag.Title = "Xulynuocthai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="text-align:center">Công nghệ áp dụng trong xử lý nước thải</h1>
<h2 style="text-align:center">(Đô thị, công nghiệp và chế biến thực phẩm)</h2>
<br />
<div class="container-fluid">
    <div class="row justify-content-center" style="color:white;background-color:royalblue">
        <div class=" col-md-6">
            <br />
            <h3 style="font-weight:bold">1/- Quy trình công nghệ vi sinh lơ lửng</h3>
            <br />
            <ul>
                <li>Hồ sinh vật hiếu khí và thông khí cưỡng bức.</li>
                <li>Bùn hoạt tính với các áp dụng khác nhau:</li>
                <ul>
                    <li>Xử lý triệt để.</li>
                    <li>Xử lý theo qui ước.</li>
                    <li>Xử lý tải trọng cao.</li>
                </ul>
                <li>Trong một vài trường hợp, phải triển khai phương pháp bùn hoạt tính với nhIều qui trình khác nhau: làm thoángnhiều tầng, tạo tiếp xúc, dùng oxy tinh chất hoặc hệ thống tuyển tách bùn hoàn lưu để có thể đạt được khả năng xử lý từ 0.2 - 5kg BOD5/m<sub style="top: .25em">3</sub>/ngày.</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class=" col-md-6">
            <br />
            <h3 style="font-weight:bold">2/- Quy trình công nghệ vi sinh bám:</h3>
            <br />
            <ul>
                <li>Bể lọc sinh học có thể được áp dụng trong trường hợp xử lý các loại nước thải công nghiệp có tải trọng cao, khả năng xử lý đạt từ 0.5 - 7kg BOD5/m<sub style="top: .25em">3</sub>/ngày với lợi thế diện tích xây dựng nhỏ.</li>
                <li>Cột lọc vi sinh bám: đây là một công nghệ áp dụng khoa học kỹ thuật mới nhất tại các nước Châu Âu, áp dụng và triển khai các nguyên lý vi sinh và vật lý tiên tiến: </li>
                <ul>
                    <li>a- Dùng giá thể đặc biệt (OSBG) tạo điều kiện bề mặt thích hợp và tối đa để vi sinh bám háo khí phát triển; khả năng xử lý tối ưu từ 5 - 12kg BOD5/m<sub style="top: .25em">3</sub>//ngày.</li>
                    <li>b- Triển khai nguyên tắc lọc khối hay lọc sâu để nâng cao công suất lọc bằng cách khống chế độ rổng, hình dạng giá thể, bề mặt giá thể, nâng cao hệ số truyền khí (Kla = 100h-1) đồng thời chịu một tải trọng thủy lực tương đối (CH = 2 - 10m<sub style="top: .25em">3</sub>/giờ.</li>
                </ul>
                <li>Ngoài ra, công nghệ Biofiltration giúp tiết giảm diện tích đất sử dụng 10 lần so với công nghệ khác, nâng cao vận tốc xử lý 5 lần, dễ dàng tự động hóa, thiết bị gọn nhẹ, áp dụng rộng rãi cụm dân cư nhỏ đến khu đô thị lớn (5000 >100.000 dân).</li>
                <li>Công nghệ Bioline cũng được triển khai từ nguyên lý vi sinh bám trên các giá thể đặc biệt với mục đích đáp ứng Luật môi trường quốc tế vào việc xử lý nước thải đô thị cho các cụm dân cư nhỏ và biệt lập.</li>
                <li>Công nghệ Bioline cũng được áp dụng bằng cách đặt chìm thiết bị xử lý trực tiếp vào các dòng kênh bị ô nhiễm để cải tạo các dòng kênh đó, vì thế các trạm xử lý sẽ không hiếm diện tích đất, dễ thao tác và bảo trì.</li>
            </ul>
        </div>
    </div>
</div>



