<div class="container-fluid">
    <h2 style="text-align:center">Dự án gần đây</h2>
    <div id="carouselPJ" class="carousel slide" data-ride="carousel" style="margin-left:auto;margin-right:auto">
        <ol class="carousel-indicators">
            <li data-target="#carouselPJ" data-slide-to="0" class="active"></li>
            <li data-target="#carouselPJ" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row justify-content-between">
                    <div class="col-sm-3 bl-listing" style="text-align:center">
                        <div class="col-item">
                            <div class="blocks">                                                               
                                <img itemprop="image" src="~/Resources/Images/Index/linhvuc1.jpg" alt="Trung tâm thương mại" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Trung tâm thương mại</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing" style="text-align:center">
                        <div class="col-item">
                            <div class="blocks">
                                <img itemprop="image" src="~/Resources/Images/Index/linhvuc1.jpg" alt="Trung tâm thương mại" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Trung tâm thương mại</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing" style="text-align:center">
                        <div class="col-item">
                            <div class="blocks">
                                <img itemprop="image" src="~/Resources/Images/Index/linhvuc1.jpg" alt="Trung tâm thương mại" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Trung tâm thương mại</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing" style="text-align:center">
                        <div class="col-item">
                            <div class="blocks">
                                <img itemprop="image" src="~/Resources/Images/Index/linhvuc1.jpg" alt="Trung tâm thương mại" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Trung tâm thương mại</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-between">
                    <div class="col-sm-3 bl-listing" style="text-align:center">
                        <div class="col-item">
                            <div class="blocks">
                                <img itemprop="image" src="~/Resources/Images/Index/linhvuc1.jpg" alt="Trung tâm thương mại" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Trung tâm thương mại</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing" style="text-align:center">
                        <div class="col-item">
                            <div class="blocks">
                                <img itemprop="image" src="~/Resources/Images/Index/linhvuc1.jpg" alt="Trung tâm thương mại" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Trung tâm thương mại</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing" style="text-align:center">
                        <div class="col-item">
                            <div class="blocks">
                                <img itemprop="image" src="~/Resources/Images/Index/linhvuc1.jpg" alt="Trung tâm thương mại" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Trung tâm thương mại</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bl-listing" style="text-align:center">
                        <div class="col-item">
                            <div class="blocks">
                                <img itemprop="image" src="~/Resources/Images/Index/linhvuc1.jpg" alt="Trung tâm thương mại" onerror="this.src='/assets/images/listing-no-image.png'">
                                <div class="block-info">
                                    <h3 itemprop="name" class="module line-clamp">Trung tâm thương mại</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev ButtonSlider rounded-circle" href="#carouselPJ" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next ButtonSlider rounded-circle" href="#carouselPJ" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
