<h2 style="text-align:center">Dự án gần đây</h2>
<br />
<div class="container-fluid" style="padding-left:100px; padding-right:100px">
    <div id="carouselPJ" class="carousel slide" data-ride="carousel" style="margin-left:auto;margin-right:auto">
        <ol class="carousel-indicators">
            <li data-target="#carouselPJ" data-slide-to="0" class="active"></li>
            <li data-target="#carouselPJ" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row justify-content-between">
                    @(new HtmlString(ViewBag.append1))
                    
                </div>
            </div>
            <div class="carousel-item">
                <div class="row justify-content-between">

                    @(new HtmlString(ViewBag.append2))
                </div>
            </div>
        </div>
        <a class="carousel-control-prev ButtonSlider rounded-circle" href="#carouselPJ" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next ButtonSlider rounded-circle" href="#carouselPJ" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
